
    @*
    <body>
     <aside>
          <img src="~/content/logincss/logo.PNG" alt="">
        <nav>
            <a class="nav-link text-dark" asp-area="Identity" asp-controller="Role" asp-action="Index"> <i class="fas fa-tachometer-alt"></i> Roles</a>
            <a class="nav-link text-dark" asp-controller="Course" asp-action="Index"><i class="fas fa-book"></i> Course</a>
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index"><i class="fas fa-tachometer-alt"></i>DashBoard</a>

            <form id="logoutForm" class="form-inline" asp-controller="Home" asp-action="Index" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </form>
        </nav>

    </aside>

    <main>
        <header>
            <h2>Welcome back</h2>
            <div class="prof">
                <a id="manage" class="nav-link text-dark"><i class="fas fa-user"></i>Hello @UserManager.GetUserName(User)!</a>

            </div>
        </header>
            @RenderBody()
    </main>


</body> *@
   



@using E_LearningWebApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using E_LearningWebApp.Models

@inject SignInManager<E_LearningWebAppUser> SignInManager
@inject UserManager<E_LearningWebAppUser> UserManager

<head>
    <meta charset="utf-8">
    <meta Content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mentor Bootstrap Template - Index</title>
    <meta Content="" name="description">
    <meta Content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iofrm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />



    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/content/assets/css/style.css" />

</head>

<body>

    <aside>
        <img src="~/content/logincss/logo.PNG" alt="">
        <nav>
            <a class="nav-link text-dark" asp-controller="User" asp-action="Index"><i class="fas fa-house"></i> Home</a>
            <a class="nav-link text-dark" asp-controller="Course" asp-action="GetAllCourses"><i class="fas fa-book"></i> Courses</a>
            <a class="nav-link text-dark" asp-controller="User" asp-action="ListUsers"><i class="fas fa-users"></i> Students</a>

            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </nav>

    </aside>

   

    <header>
        <h2>Welcome back</h2>
        <div class="prof">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Profile"><i class="fas fa-user"></i> @UserManager.GetUserName(User) </a>
        </div>
    </header>

    <main>

        <section class="current_progress">
            @RenderBody()

        </section>
    </main>

</body>


@RenderSection( "Scripts",required:false)

