@model E_LearningWebApp.Models.SubCourses

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "GetSubCourseById";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>User Dashboard</title>
    <link rel="stylesheet" href="~/Content/css/courses.css">
    <style>
    dl{
    width: 80vw;
    padding-left: 10vw;
    }
    </style>
</head>
<body>
    <h1>
        <dd class="col-sm-10" style="padding-left: 5vw">
            @Html.DisplayFor(model => model.SubCourseName)
        </dd>

    </h1>
<div>
    <hr />
        <dl class="table table-striped table-bordered">
        <dt class="col-sm-2" style="color: black;">
            @Html.DisplayNameFor(model => model.SubCourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCourseName)
        </dd>
        <dt class="col-sm-2" style="color: black;">
            @Html.DisplayNameFor(model => model.SubCourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCourseDescription)
        </dd>
        <dt class="col-sm-2" style="color: black;">
            @Html.DisplayNameFor(model => model.SubCourseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCourseDuration)
        </dd>
        <dt class="col-sm-2" style="color: black;">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CourseName
        </dd>
    </dl>
</div>
<div>
        <a  asp-controller="Subcourse" asp-action="GetAllSubCourses" asp-route-courseid="@ViewBag.CourseId">
            Back to List</a>
</div>
    </body>
