@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

@* <h1>@ViewData["Title"]</h1> *@

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iofrm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/iofrm-form/css/style.css">
    <link rel="stylesheet" href="~/content/iofrm-form/css/responsive.css">
</head>

<section class="form-body">
    <div class="container-fluid">
        <!-- ----logo for small screen---- -->
        <figure class="d-lg-none pt-3">
            <img src="~/content/assests/logo-light.svg" alt="iofrm" class="img-fluid logo">
        </figure>
        <div class="row align-items-center">
            <div class="col-lg-5 iofrm-img d-lg-block d-none">
                <!-- ----logo for large screen--- -->
                <figure class="iofrm-logo d-flex justify-content-center align-items-center">
                    <img src="~/content/assests/logo-dark.svg" alt="iofrm" class="img-fluid logo">
                </figure>
            </div>
            <div class="col-lg-7 col-12 form-content d-flex justify-content-center align-items-center">
                <div class="form-items">
                    <h3>Get more things done with Loggin platform.</h3>
                    <p class="">Access to the most powerfull tool in the entire design and web industry.</p>
                    <!-- ---tabs for login and register---- -->
                    <ul class="nav nav-tabs d-flex justify-content-start mt-4">
                        <li class="nav-item pt-2">
                            <a class="nav-link active" data-bs-toggle="tab"
                               href="Login">Login</a>
                            @*                             <a class="nav-link active" data-bs-toggle="tab" asp-page="/Views/Shared/UserLogin">Login</a>
                            *@
                        </li>
                        <li class="nav-item pt-2">
                            <a class="nav-link" data-bs-toggle="tab"
                               href="Register">Register</a>
                            @*                             <a class="nav-link" data-bs-toggle="tab"  asp-area="Identity" asp-page="/Account/Register">Register</a>
                            *@
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="register">


                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">



                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@* 
                                <div class="form-floating">
                                    <label asp-for="Input.UserRole"></label>
                                    <select asp-for="Input.UserRole" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                                    </select>
                                    <span asp-validation-for="Input.UserRole" class="text-danger"></span>
                                </div>

 *@
                                <div class="form-floating">
                                    <label asp-for="Input.UserRole"></label>
                                    <input asp-for="Input.UserRole" class="form-control" value="User" readonly />
                                    <span asp-validation-for="Input.UserRole" class="text-danger"></span>
                                </div>


                                <div class="form-floating">
                                    <input asp-for="Input.FirstName" class="form-control input-field" autocomplete="FirstName" aria-required="true" />
                                    <label asp-for="Input.FirstName"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-floating">
                                    <input asp-for="Input.LastName" class="form-control input-field" autocomplete="LastName" aria-required="true" />
                                    <label asp-for="Input.LastName"></label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>

                                <div class="form-floating">
                                    <input asp-for="Input.Email" class="form-control input-field" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>


                                <div class="form-floating">
                                    <input asp-for="Input.Password" class="form-control input-field" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.Password"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>


                                <div class="form-floating">
                                    <input asp-for="Input.ConfirmPassword" class="form-control input-field" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-floating">
                                    <input asp-for="Input.imagePath" type="file" class="form-control input-field" aria-required="true" />
                                    <label asp-for="Input.imagePath">Select Image</label>
                                    <span asp-validation-for="Input.imagePath" class="text-danger"></span>
                                </div>

                                <button id="registerSubmit" type="submit" class="ibtn mt-2 hover-effect btn btn-lg btn-primary">Register</button>


                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-6 col-md-offset-2">
    <section>
       
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
              
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
